<div class="row">

  <div class="col-sm-8 blog-main">
    <%= render 'shared/errors', obj: nil %>
    <%= render 'shared/messages' %>

    <% @articles.each do |article| %>

      <div class="blog-post">
        <h2 class="blog-post-title"><%= link_to article.title, article %></h2>

        <p class="blog-post-meta">
          <%= article.created_at.to_formatted_s(:long) %>
          by <%= link_to article.user.username, user_path(article.user.id) %>
        </p>

        <p><%= article.description %></p>
      </div>
    <% end %>

    <nav>
      <%= will_paginate %>
    </nav>
  </div>

  <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
    <div class="sidebar-module sidebar-module-inset">
      <h4>About</h4>
      <p>Test sandbox for Ruby on Rails</p>
    </div>
  </div>
</div>
