<div class="row">

  <div class="col-sm-8 blog-main">
    <%= render 'shared/errors', obj: nil %>
    <%= render 'shared/messages' %>

    <% @articles.each do |article| %>
      <div>
        <%= render 'articles/article', article: article %>

        <%= link_to 'Read More', article_path(article), class: 'btn btn-default' %>
      </div>
      <br/>
    <% end %>

    <nav>
      <%= will_paginate %>
    </nav>
  </div>

  <%= render 'shared/about' %>
</div>
