<% if notice %>
  <div id="notice" class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<div class="blog-post">
  <h2 class="blog-post-title"><%= @article.title %></h2>

  <p class="blog-post-meta">
    <%= @article.created_at.to_formatted_s(:long) %>
    by <%= link_to @article.user.username, user_path(@article.user.id) %>
  </p>

  <p><%= @article.description %></p>
</div>

<% if logged_in? %>
<%= link_to 'Edit', edit_article_path(@article), class: "btn btn-primary" %>
<% end %>
<%= link_to 'Back', articles_path, class: "btn btn-default" %>
<br/>
