<div class="row">

  <div class="col-sm-8 blog-main">
    <%= render 'shared/errors', obj: nil %>
    <%= render 'shared/messages' %>

    <% @categories.each do |category| %>

      <div class="blog-post">
        <h3 class="blog-post-title"><%= link_to category.name, category %></h3>
        <small><%= pluralize(category.articles.count, "article") %></small>
      </div>
    <% end %>


    <%= link_to 'Create new', new_category_path, class: "btn btn-primary" %>
  </div>

  <%= render 'shared/about' %>
</div>
