<!DOCTYPE html>
<html lang="en">
<head>
  <title>RailsBlog</title>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<div class="blog-masthead">
  <div class="container">
    <nav class="blog-nav">
      <%= link_to 'Home', root_path, class: ([cycle("blog-nav-item"), ('active' if current_page?('/') || current_page?('/articles'))]) %>
      <%= link_to 'Sign Up', 'signup', class: ([cycle("blog-nav-item"), ('active' if current_page?('/signup'))]) %>
    </nav>
  </div>
</div>

<div class="container">
  <%= yield %>
</div>

<footer class="blog-footer">
  <p>Blog built by <a href="https://github.com/miron4dev">miron4dev</a>.</p>
  <p>
    <a href="#">Back to top</a>
  </p>
</footer>

</body>
</html>
